'.editor':
  'meta-E': 'emmet:expand-abbreviation'
  'ctrl-d': 'emmet:match-pair-outward'
  'alt-d': 'emmet:match-pair-inward'
  'ctrl-alt-j': 'emmet:matching-pair'
  'ctrl-alt-right': 'emmet:next-edit-point'
  'ctrl-alt-left': 'emmet:prev-edit-point'
  # 'command+/': 'emmet:toggle_comment' already exists in Atom
  'meta-J': 'emmet:split-join-tag'
  'meta-K': 'emmet:remove-tag'
  # 'shift+command+y': 'emmet:evaluate_math_expression'
  # 'ctrl-shift-up': 'emmet:increment_number_by_1'
  # 'ctrl-shift-down': 'emmet:decrement_number_by_1'
  # 'alt-shift-up': 'emmet:increment_number_by_01'
  # 'alt-shift-down': 'emmet:decrement_number_by_01'
  # 'ctrl-alt-up': 'emmet:increment_number_by_10'
  # 'ctrl-alt-down': 'emmet:decrement_number_by_10'
  # 'shift+command+.': 'emmet:select_next_item'
  # 'shift+command+,': 'emmet:select_previous_item'
  # 'shift+command+r': 'emmet:reflect_css_value'
  # 'shift+ctrl+d': 'emmet:encode_decode_data_url'
  # 'shift+ctrl+i': 'emmet:update_image_size'
  # 'ctrl+alt+enter': 'emmet:expand_as_you_type'
  # 'shift+ctrl+g': 'emmet:wrap_as_you_type'
  # 'Tab': 'emmet:expand_abbreviation_with_tab'
  # 'shift+ctrl+a': 'emmet:wrap_with_abbreviation'
