'atom-text-editor:not([mini])':
  'ctrl-e': 'emmet:expand-abbreviation'
  'ctrl-shift-e': 'emmet:balance-outward'
  'ctrl-shift-0': 'emmet:balance-inward'
  'ctrl-alt-j': 'emmet:matching-pair'
  'ctrl-alt-right': 'emmet:next-edit-point'
  'ctrl-alt-left': 'emmet:prev-edit-point'
  'ctrl-shift-`': 'emmet:split-join-tag'
  'ctrl-shift-;': 'emmet:remove-tag'
  'ctrl-shift-y': 'emmet:evaluate-math-expression'
  'alt-up': 'emmet:increment-number-by-01'
  'alt-down': 'emmet:decrement-number-by-01'
  'ctrl-up': 'emmet:increment-number-by-1'
  'ctrl-down': 'emmet:decrement-number-by-1'
  'alt-shift-up': 'emmet:increment-number-by-10'
  'alt-shift-down': 'emmet:decrement-number-by-10'
  'ctrl-shift-.': 'emmet:select-next-item'
  'ctrl-shift-,': 'emmet:select-previous-item'
  'ctrl-shift-r': 'emmet:reflect-css-value'
  'ctrl-u': 'emmet:update-image-size'
  "ctrl-'": 'emmet:encode-decode-data-url'
  "ctrl-shift-'": 'emmet:update-tag'
  'ctrl-shift-m': 'emmet:merge-lines'
  'ctrl-alt-w': 'emmet:wrap-with-abbreviation'
  'ctrl-alt-enter': 'emmet:interactive-expand-abbreviation'

'atom-pane atom-text-editor:not([mini])':
  'ctrl-shift-/': 'emmet:toggle-comment'

# Override Enter key for specific syntaxes only
'atom-pane atom-text-editor[data-grammar~="html"]:not([mini]):not(.autocomplete-active), atom-pane atom-text-editor[data-grammar~="xml"]:not([mini]):not(.autocomplete-active)':
  'enter': 'emmet:insert-formatted-line-break-only'

# language-specific Tab triggers
# you can add more triggers by changing `grammar` attribute values
'atom-text-editor[data-grammar="text html basic"]:not([mini]), atom-text-editor[data-grammar~="erb"]:not([mini]), atom-text-editor[data-grammar~="jade"]:not([mini]), atom-text-editor[data-grammar~="css"]:not([mini]), atom-text-editor[data-grammar~="stylus"]:not([mini]), atom-text-editor[data-grammar~="sass"]:not([mini]), atom-text-editor[data-grammar~="scss"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'.platform-darwin atom-text-editor:not([mini])':
  'cmd-shift-e': 'emmet:expand-abbreviation'
  'ctrl-d': 'emmet:balance-outward'
  'alt-d': 'emmet:balance-inward'
  'ctrl-right': 'emmet:next-edit-point'
  'ctrl-left': 'emmet:prev-edit-point'
  "cmd-shift-j": 'emmet:split-join-tag'
  "cmd-'": 'emmet:remove-tag'
  'cmd-shift-y': 'emmet:evaluate-math-expression'
  'ctrl-alt-up': 'emmet:increment-number-by-01'
  'ctrl-alt-down': 'emmet:decrement-number-by-01'
  'ctrl-alt-cmd-up': 'emmet:increment-number-by-1'
  'ctrl-alt-cmd-down': 'emmet:decrement-number-by-1'
  'ctrl-alt-cmd-shift-up': 'emmet:increment-number-by-10'
  'ctrl-alt-cmd-shift-down': 'emmet:decrement-number-by-10'
  'ctrl-shift-right': 'emmet:select-next-item'
  'ctrl-shift-left': 'emmet:select-previous-item'
  'cmd-shift-r': 'emmet:reflect-css-value'
  'ctrl-i': 'emmet:update-image-size'
  "ctrl-shift-i": 'emmet:encode-decode-data-url'
  'ctrl-shift-u': 'emmet:update-tag'
  'cmd-shift-m': 'emmet:merge-lines'
  'ctrl-w': 'emmet:wrap-with-abbreviation'
  'alt-cmd-enter': 'emmet:interactive-expand-abbreviation'

'.platform-darwin atom-pane atom-text-editor:not([mini])':
  'cmd-/': 'emmet:toggle-comment'
