'.editor:not(.mini)':
  'cmd-E': 'emmet:expand-abbreviation'
  'ctrl-d': 'emmet:balance-outward'
  'alt-d': 'emmet:balance-inward'
  'ctrl-alt-j': 'emmet:matching-pair'
  'ctrl-alt-.': 'emmet:next-edit-point'
  'ctrl-alt-,': 'emmet:prev-edit-point'
  # 'command+/': 'emmet:toggle_comment' # already exists in Atom
  'cmd-J': 'emmet:split-join-tag'
  "cmd-'": 'emmet:remove-tag'
  'cmd-Y': 'emmet:evaluate-math-expression'
  'ctrl-shift-up': 'emmet:increment-number-by-1'
  'ctrl-shift-down': 'emmet:decrement-number-by-1'
  'alt-shift-up': 'emmet:increment-number-by-01'
  'alt-shift-down': 'emmet:decrement-number-by-01'
  'ctrl-alt-up': 'emmet:increment-number-by-10'
  'ctrl-alt-down': 'emmet:decrement-number-by-10'
  'alt-cmd-.': 'emmet:select-next-item'
  'alt-cmd-,': 'emmet:select-previous-item'
  'cmd-R': 'emmet:reflect-css-value'
  'tab': 'emmet:expand-abbreviation-with-tab'
  # 'ctrl-I': 'emmet:update-image-size' # doesn't seem to work in beta v1.1
  # 'ctrl-D': 'emmet:encode-decode-data-url' # doesn't seem to work in beta v1.1
  'ctrl-U': 'emmet:update-tag'
  'cmd-M': 'emmet:merge-lines'
  'cmd-A': 'emmet:wrap-with-abbreviation'
